* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.responsive {
  width: 100%;
  height: auto;
}

.logo-image {
  max-width: 250px;
}

.main-image {
  max-width: 800px;
}